#theCarousel .item { height:944px; }

#slide1{
  background: url('../../MiguelFidelinoNudePictures/ReizedMiami_Beach.jpg') center;
  background-size:100%;
}
#slide2{
  background: url('../../MiguelFidelinoNudePictures/NYstreets.jpg') center;
  background-size: 100%;
  max-width:100%;
  height: auto;
}
#slide3{
  background: url('../../MiguelFidelinoNudePictures/Streets.jpg') center;
  background-size:100%;
  max-width:100%;
}